export PROJECT_ROOT=$PWD
alias cdp="cd $PROJECT_ROOT"
alias cdcore="cd $PROJECT_ROOT/includes/core"
alias cdi18n="cd $PROJECT_ROOT/includes/i18n"

# paths
PATH_add bin
PATH_add vendor/bin

# development environment variables
export WP_DEBUG=true
export DB_HOST=localhost

# functions
fe_phpcs() {
    ./vendor/bin/phpcs --standard=WordPress .
}

# prompt
export PS1="(fe-ai-search) $PS1"
