<?xml version="1.0"?>
<ruleset name="Swift CSV">
    <description>WordPress plugin coding standards</description>

    <config name="installed_paths" value="vendor/wp-coding-standards/wpcs,vendor/phpcsstandards/phpcsextra,vendor/phpcsstandards/phpcsutils"/>

    <!-- Exclude patterns -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>

    <!-- Output options -->
    <arg value="ps"/>
    <arg name="basepath" value="./"/>
    <arg name="extensions" value="php"/>

    <!-- WordPress coding standards (includes WordPress-Core, WordPress-Extra, WordPress-Docs) -->
    <rule ref="WordPress">
        <!-- Allow short array syntax [] instead of array() -->
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
    </rule>

    <!-- Enforce short array syntax -->
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

    <!-- Text domain -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element key="0" value="swift-csv"/>
            </property>
        </properties>
    </rule>

    <!-- Minimum supported versions -->
    <config name="minimum_wp_version" value="6.0"/>
    <rule ref="WordPress.WP.DeprecatedFunctions">
        <properties>
            <property name="minimum_wp_version" value="6.0"/>
        </properties>
    </rule>
</ruleset>
