<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
>
    <testsuites>
        <testsuite name="FE CSV Import & Export Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="FE CSV Import & Export Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
            <file>fe-csv-import-export.php</file>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>node_modules</directory>
        </exclude>
    </coverage>
    <logging>
        <junit outputFile="tests/results/junit.xml"/>
        <teamcity outputFile="tests/results/teamcity.txt"/>
    </logging>
</phpunit>
